body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}


#mainSection .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mainSection .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: auto;
    border-radius: 20px;}

#mainSection .contents p{
    width: 80%;
    text-align: center;
} 

#mainSection .contents .subText {
    font-size: 12px;

}